.achieve_container {
    padding-top: 20px;
    margin-bottom: 20px;
    .title {
        color: #3B3B3B;
        font-size: 20px;
        padding-bottom: 14px;
        text-align: left;
        font-weight: 700;
    }

    .achieve_container_text {
        background: #F8FCF3;
        border-radius: 14px;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;


        .box_container {
            display: flex;
            flex-direction: row;
            background: #F8FCF3;
            border-radius: 12px;
            align-items: center;
            justify-content: space-between;
        }

        .fixed {
            width: 200px;
            /* 固定宽度 */
            .t1 {
                font-weight: 700;
                font-size: 14px;
                color: #3B3B3B;
                text-align: left;
                padding-bottom: 10px;
            }
            .t2 {
                font-size: 12px;
                color: #3B3B3B;
                text-align: left;
            }
        }

        .flex-grow {
            /* 右边撑满 */


        }

        .inner_container {
            display: flex;
            flex-direction: row;
        }
    }
}